.mt-50 {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(220, 35, 35, 0.3);
}

.card-header h1 {
    font-size: 1.8rem;
}

#prediction {
    color: #063411;
    font-weight: bold;
}
